{{ define "main" }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    </h1>
    <div class="post-content">
      <p>
        {{ "The page you requested does not exist. But how can we talk about it if it does not exist? Might it be there, although it does not exist? Okay, we're starting to get side-tracked here!" | markdownify }}
      </p>

      {{ if .Site.Taxonomies.tags }}
        <p>
          {{ "Before we lose ourselves in the ontology room (it's hard to get out of, I can tell!), how about we keep it with existent things, first?" | emojify }}
        </p>
        <h2>Tags</h2>
        <div class="terms">
          <ul class="terms__list">
            {{ range .Site.Taxonomies.tags }}
              <li class="terms__term">
                <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a
                ><span class="terms__term-count">{{ .Count }}</span>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
