.underline {
    text-decoration: underline;
}

.indexImg {
    border-radius: 50%;
}

.index-content {
    width: 80ch;
}

.socials {
    margin-top: 1rem;
}

.socials > a  {
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.socials > a:hover {
    color: #fe5186;
}

kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid black;
}
