:root {
    --pink: #fe5186;
    --gray: #AAA7B3;
    --black: #292a2d;
}

.underline {
    text-decoration: underline;
}

.indexImg {
    border-radius: 50%;
    max-width: 20%;
}

@media (max-width: 767px) {
    .index-content {
        padding: 0.75rem;
    }
}


@media (min-width: 768px) {
    .index-content {
        width: 80ch;
    }
}

.index-content {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color);
}

.socials {
    margin-top: 1rem;
}

.socials > a  {
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.socials > a:hover {
    color: #fe5186;
}

kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(211,211,211);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
}

footer :target {
  background: yellow;
}


a[role="doc-noteref"] {
    color: var(--pink);
}

li[role="doc-endnote"]:target {
    color: var(--pink);
}

li[role="doc-endnote"]:target::marker {
    color: var(--black);
}

@media (prefers-color-scheme: dark) {
    #search-query {
        background-color: var(--black); 
        color:  var(--gray);
    }

li[role="doc-endnote"]:target::marker {
    color: var(--gray);
}
}

