.underline {
    text-decoration: underline;
}

.indexImg {
    border-radius: 50%;
}

.index-content {
    width: 80ch;
}

.socials {
    margin-top: 1rem;
}

.socials > a  {
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s;
}

.socials > a:hover {
    color: #fe5186;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
}

footer :target {
  background: yellow;
}
